Screen, ServiceTree, Header, HeaderClock {
     background: $surface-darken-1;
}

ServiceTree:focus, SensorContent:focus {
     border: heavy $secondary;
}

Header, ServiceTree, SensorContent {
     border: heavy $boost;
}

Header, ServiceTree {
    padding-right: 1;
}

#tree-view {
    display: none;
    scrollbar-gutter: stable;
    width: auto;
}

ServiceStatusApp.-show-tree #tree-view {
    display: block;
    dock: left;
    max-width: 40%;
    min-width: 15%;
}

ServiceTree {
    height: 100%;
}

ServiceContent {
    min-width: 100%;
}

ServiceContentData.-show-content {
    display: block;
}

ServiceContentData {
    display: none;
}

SensorContent > Static {
    padding-bottom: 1;
}

SensorSparkline {
    height: 2;
    content-align-vertical: middle;
}

SensorSparkline > * > * {
    width: auto;
    padding-left: 3;
}

DataTable {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

Sparkline {
    width: 100%;
    height: 100%;
}

LoadingIndicator, SensorSparkline, DataTable > .datatable--cursor, .datatable--highlight {
    background: $surface;
}